<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Courses App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHomePage}}
        <li class="active"><a href="/">Main</a></li>
        {{else}}
        <li><a href="/">Main</a></li>
        {{/if}}

        {{#if isCoursesPage}}
        <li class="active"><a href="/courses">Courses</a></li>
        {{else}}
        <li><a href="/courses">Courses</a></li>
        {{/if}}

        {{#if isAddPage}}
        <li class="active"><a href="/add">Add course</a></li>
        {{else}}
        <li><a href="/add">Add course</a></li>
        {{/if}}

        {{#if isCardPage}}
        <li class="active"><a href="/cart">Cart</a></li>
        {{else}}
        <li><a href="/cart">Cart</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
