<div class="cart">
  <h1>Cart</h1>
  <div id="cart">
  {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <td>{{title}}</td>
          <td>{{count}}</td>
          <td>{{amount}}</td>
          <td>
            <button class="btn btn-small js-remove-course" data-id={{id}}>Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <p><strong>Price:</strong> <span class="price">{{price}}</span></p>
  {{else}}
    <p>Cart is empty</p>
  {{/if}}
  </div>
</div>
