<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" placeholder="New course name" required value="{{course.title}}">
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Wrong price"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" placeholder="10000" required min="1000" value="{{course.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Wrong price"></span>

  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">URL image</label>
    <span class="helper-text" data-error="Wrong url"></span>
  </div>

  <input type="hidden" id="id" name="id" value="{{course.id}}">

  <button class="btn btn-primary" type="submit">Edit course</button>
</form>

<form action="/courses/remove" method="POST">
  <input type="hidden" name="id" value="{{course.id}}">
  <button class="btn red">Remove course</button>
</form>
