<h1>Courses</h1>
{{#if courses.length}}
{{#each courses}}
    <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}">
          <span class="cart-title">{{title}}</span>
        </div>
        <div class="card-content">
          <p class="price">{{price}}</p>
        </div>
        <div class="card-action actions">
          <a href="/courses/{{id}}" target="_blank">Open the course</a>
          <a href="/courses/{{id}}/edit?allow=true">Edit</a>
          <form action="/cart/add" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <button class="btn btn-primary" type="submite">Buy</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
<p>There are no courses yet</p>
{{/if}}
